* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.expense {
    width: 100vw;
    border: 2px solid gainsboro;
    display: flex;
    flex-direction: column;
    align-items: center;
}